build
src/public/sw.js

!**/*.playground/playground.xcworkspace/xcshareddata
!**/*.playground/playground.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
!**/*.xcodeproj/project.xcworkspace/xcshareddata
!**/*.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3
**/*.playground/playground.xcworkspace/*
**/*.playground/playground.xcworkspace/xcshareddata/*
**/*.xcodeproj/project.xcworkspace/*
**/*.xcodeproj/project.xcworkspace/xcshareddata/*
*.dSYM
*.dSYM.zip
*.hmap
*.ipa
*.iws
*.lcov
*.log
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
*.pid
*.pid.lock
*.seed
*.tgz
*.tsbuildinfo
*.xccheckout
*.xcscmblueprint
.DS_Store
.accio/
.build/
.cache
.cache/
.docusaurus
.dynamodb/
.env
.env*.local
.env.development.local
.env.local
.env.production.local
.env.test.local
.eslintcache
.fusebox/
.grunt
.idea/**/aws.xml
.idea/**/contentModel.xml
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/dataSources/
.idea/**/dbnavigator.xml
.idea/**/dictionaries
.idea/**/dynamic.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/mongoSettings.xml
.idea/**/shelf
.idea/**/sqlDataSources.xml
.idea/**/tasks.xml
.idea/**/uiDesigner.xml
.idea/**/usage.statistics.xml
.idea/**/workspace.xml
.idea/caches/build_file_checksums.ser
.idea/httpRequests
.idea/replstate.xml
.idea/sonarlint/
.idea_modules/
.lock-wscript
.next
.node_repl_history
.npm
.nuxt
.nyc_output
.parcel-cache
.pnp
.pnp.*
.pnp.js
.pnpm-debug.log*
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.serverless/
.stylelintcache
.temp
.tern-port
.vercel
.vscode-test
.vuepress/dist
.yarn-integrity
.yarn/build-state.yml
.yarn/cache
.yarn/install-state.gz
.yarn/unplugged
/build
/coverage
Carthage/Build/
Dependencies/
DerivedData/
app/main
app/src/.next/
app/src/out/
atlassian-ide-plugin.xml
bower_components
build
build.xcarchive
build/
build/Release
cmake-build-*/
com_crashlytics_export_strings.xml
coverage
crashlytics-build.properties
crashlytics.properties
dist
dist/
fabric.properties
fastlane/Preview.html
fastlane/report.xml
fastlane/screenshots/**/*.png
fastlane/test_output
iOSInjectionProject/
jspm_packages/
lerna-debug.log*
lib-cov
logs
next-env.d.ts
node_modules
node_modules/
npm-debug.log*
out
out/
pids
playground.xcworkspace
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
timeline.xctimeline
web_modules/
xcuserdata/
yarn-debug.log*
yarn-error.log*
app/assets/ReplayHelper
app/bin/ReplayHelper
app/assets/AltaSearchHelper
app/bin/AltaSearchHelper
